<!DOCTYPE html>
<html lang="ru">
<head>
  {{> common_css_js}}
  <link href="/css/flat-neighbor.css" rel="stylesheet">
  <title>Соседи</title>
</head>
<body>

{{> header}}

<main>
  <div class="flat-neighbors-list">
  {{#each neighbours}}
    <div class="flat-neighbors-list__elem">
      <img src="/media/neighbor-pic-example.png">
      <div class="characteristic-list">
        <div class="characteristic-list-line">
          <span class="characteristic-list-line__title">Имя: </span>
          <span class="characteristic-list-line__value">{{this.name}}</span>
        </div>
        <div class="characteristic-list-line">
          <span class="characteristic-list-line__title">Фамилия: </span>
          <span class="characteristic-list-line__value">{{this.surname}}</span>
        </div>
        <div class="characteristic-list-line">
          <span class="characteristic-list-line__title">Гендер: </span>
          <span class="characteristic-list-line__value">{{this.gender}}</span>
        </div>
        <div class="characteristic-list-line">
          <span class="characteristic-list-line__title">Университет: </span>
          <span class="characteristic-list-line__value">{{this.university}}</span>
        </div>
        <div class="characteristic-list-line">
          <span class="characteristic-list-line__title">Факультет: </span>
          <span class="characteristic-list-line__value">{{this.faculty}}</span>
        </div>
        <div class="characteristic-list-line">
          <span class="characteristic-list-line__title">Предпочитаемая цена: </span>
          <span class="characteristic-list-line__value">{{this.preferredPrice}}</span>
        </div>
        <div class="characteristic-list-line">
          <span class="characteristic-list-line__title">Предпочитаемое число людей: </span>
          <span class="characteristic-list-line__value">{{this.preferredPeopleNum}}</span>
        </div>
        <div class="characteristic-list-line">
          <span class="characteristic-list-line__title">Предпочитаемое место: </span>
          <span class="characteristic-list-line__value">{{this.preferredArea}}</span>
        </div>
        <div class="characteristic-list-line">
          <span class="characteristic-list-line__title">Требования к соседу: </span>
          <span class="characteristic-list-line__value">{{this.requirementsForNeighbor}}</span>
        </div>
        <div class="characteristic-list-line">
          <span class="characteristic-list-line__title">О себе: </span>
          <span class="characteristic-list-line__value">{{this.aboutMyself}}</span>
        </div>
        <div class="characteristic-list-line">
          <span class="characteristic-list-line__title">Предпочитаемые гендеры: </span>
          <span class="characteristic-list-line__value">{{this.preferredGenders}}</span>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</main>

{{> footer}}

</body>
</html>